In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("sales_data.csv",encoding='cp949')

In [3]:
df

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y
1,1305023.0,Smith Plumbing,"$920,000.00","$1,012,000.00",10.00%,700,6,15,2014,Y
2,24019.0,ACME Industrial,"$50,000.00","$62,500.00",25.00%,125,3,29,2016,Y
3,1022.0,Brekke LTD,"\350,000,000","$490,000.00",4.00%,75,10,27,2015,Y
4,3450192.0,Harbor Co,"$15,000.00","$12,750.00",-15.00%,Closed,2,2,2014,N

In [4]:
df.dtypes

고객번호              float64
Customer Name      object
2016               object
2017               object
Percent Growth     object
견적 단위              object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [5]:
df['2016'] + df['2017']

0      $125,000.00 $162,500.00
1    $920,000.00 $1,012,000.00
2        $50,000.00 $62,500.00
3     \350,000,000 $490,000.00
4        $15,000.00 $12,750.00
dtype: object

In [7]:
df['고객번호'].astype('int')

0      10002
1    1305023
2      24019
3       1022
4    3450192
Name: 고객번호, dtype: int64

In [8]:
df.dtypes

고객번호              float64
Customer Name      object
2016               object
2017               object
Percent Growth     object
견적 단위              object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [9]:
df["고객번호"] = df['고객번호'].astype('int')
df.dtypes

고객번호               int64
Customer Name     object
2016              object
2017              object
Percent Growth    object
견적 단위             object
Month              int64
Day                int64
Year               int64
Active            object
dtype: object

In [10]:
# dictionary 형태로도 가능함
df.astype({'고객번호': 'int', 'Active':'bool'})

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active
0,10002,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,True
1,1305023,Smith Plumbing,"$920,000.00","$1,012,000.00",10.00%,700,6,15,2014,True
2,24019,ACME Industrial,"$50,000.00","$62,500.00",25.00%,125,3,29,2016,True
3,1022,Brekke LTD,"\350,000,000","$490,000.00",4.00%,75,10,27,2015,True
4,3450192,Harbor Co,"$15,000.00","$12,750.00",-15.00%,Closed,2,2,2014,True

In [11]:
df

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active
0,10002,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y
1,1305023,Smith Plumbing,"$920,000.00","$1,012,000.00",10.00%,700,6,15,2014,Y
2,24019,ACME Industrial,"$50,000.00","$62,500.00",25.00%,125,3,29,2016,Y
3,1022,Brekke LTD,"\350,000,000","$490,000.00",4.00%,75,10,27,2015,Y
4,3450192,Harbor Co,"$15,000.00","$12,750.00",-15.00%,Closed,2,2,2014,N

### customer number는 ok 나머지 항목도 수정해보자
 - 2016, 2017, Percent Growth, Jan Units에는 숫자만 있는 것이 아님
 - Active 항목은 어떨까 생각해봅시다
 - 이 부분을 가공하기 쉽도록 데이터 변환이 필요

In [12]:
df['2016'] + df['2017']

0      $125,000.00 $162,500.00
1    $920,000.00 $1,012,000.00
2        $50,000.00 $62,500.00
3     \350,000,000 $490,000.00
4        $15,000.00 $12,750.00
dtype: object

In [15]:

df['견적 단위'].astype('int')

ValueError: invalid literal for int() with base 10: 'Closed'

In [16]:
df['Active']

0    Y
1    Y
2    Y
3    Y
4    N
Name: Active, dtype: object

In [17]:
usd_krw = 1180.3
def 화폐기호제거(val):
    """
    금액 문자열에서 화폐기호를 없애보자
    - Remove $, \
    - Remove comma
    - Convert to float type
    """
    if val.startswith('$') :
        new_val = float(val.replace(',', '').replace('$',''))
        new_val *= usd_krw
    if val.startswith('\\') :
        new_val = float(val.replace(',', '').replace('\\',''))
    return new_val

In [18]:
df['2016'].apply(화폐기호제거)

0    1.475375e+08
1    1.085876e+09
2    5.901500e+07
3    3.500000e+08
4    1.770450e+07
Name: 2016, dtype: float64

In [19]:
df['2016'] = df['2016'].apply(화폐기호제거)
df['2017'] = df['2017'].apply(화폐기호제거)

### lambda 함수로 퍼센트 기호 제거해보자

In [20]:
df['Percent Growth'].apply(lambda x : x.replace('%','')).astype(float) / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [21]:
df['Percent Growth'] = df['Percent Growth'].apply(lambda x : x.replace('%','')).astype(float) / 100

In [22]:
df.dtypes

고객번호                int64
Customer Name      object
2016              float64
2017              float64
Percent Growth    float64
견적 단위              object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [23]:
df

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active
0,10002,Quest Industries,1.475375e+08,1.917988e+08,0.30,500,1,10,2015,Y
1,1305023,Smith Plumbing,1.085876e+09,1.194464e+09,0.10,700,6,15,2014,Y
2,24019,ACME Industrial,5.901500e+07,7.376875e+07,0.25,125,3,29,2016,Y
3,1022,Brekke LTD,3.500000e+08,5.783470e+08,0.04,75,10,27,2015,Y
4,3450192,Harbor Co,1.770450e+07,1.504882e+07,-0.15,Closed,2,2,2014,N

In [24]:
pd.to_numeric(df['견적 단위'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: 견적 단위, dtype: float64

In [25]:
# NaN을 0으로 채워도 좋다
df['견적 단위'] = pd.to_numeric(df['견적 단위'], errors='coerce').fillna(0)

In [26]:
df

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active
0,10002,Quest Industries,1.475375e+08,1.917988e+08,0.30,500.0,1,10,2015,Y
1,1305023,Smith Plumbing,1.085876e+09,1.194464e+09,0.10,700.0,6,15,2014,Y
2,24019,ACME Industrial,5.901500e+07,7.376875e+07,0.25,125.0,3,29,2016,Y
3,1022,Brekke LTD,3.500000e+08,5.783470e+08,0.04,75.0,10,27,2015,Y
4,3450192,Harbor Co,1.770450e+07,1.504882e+07,-0.15,0.0,2,2,2014,N

In [27]:
df['거래개시일'] = pd.to_datetime(df[['Month','Day', 'Year']])

In [28]:
df

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active,거래개시일
0,10002,Quest Industries,1.475375e+08,1.917988e+08,0.30,500.0,1,10,2015,Y,2015-01-10
1,1305023,Smith Plumbing,1.085876e+09,1.194464e+09,0.10,700.0,6,15,2014,Y,2014-06-15
2,24019,ACME Industrial,5.901500e+07,7.376875e+07,0.25,125.0,3,29,2016,Y,2016-03-29
3,1022,Brekke LTD,3.500000e+08,5.783470e+08,0.04,75.0,10,27,2015,Y,2015-10-27
4,3450192,Harbor Co,1.770450e+07,1.504882e+07,-0.15,0.0,2,2,2014,N,2014-02-02

In [29]:
df.dtypes

고객번호                       int64
Customer Name             object
2016                     float64
2017                     float64
Percent Growth           float64
견적 단위                    float64
Month                      int64
Day                        int64
Year                       int64
Active                    object
거래개시일             datetime64[ns]
dtype: object

In [30]:
df['Active'] = np.where(df['Active'] == 'Y', True, False)

In [31]:
df.dtypes

고객번호                       int64
Customer Name             object
2016                     float64
2017                     float64
Percent Growth           float64
견적 단위                    float64
Month                      int64
Day                        int64
Year                       int64
Active                      bool
거래개시일             datetime64[ns]
dtype: object

In [33]:
df_2 = pd.read_csv("sales_data.csv",
                   dtype={'고객번호':'int'},
                   converters={'2016': 화폐기호제거,
                               '2017': 화폐기호제거,
                               'Percent Growth': lambda x : pd.to_numeric(x.replace('%','')) / 100,
                               '견적 단위': lambda x: pd.to_numeric(x, errors='coerce'),
                               'Active': lambda x: np.where(x == "Y", True, False)
                              },
                  encoding='cp949',)

In [34]:
df_2

,고객번호,Customer Name,2016,2017,Percent Growth,견적 단위,Month,Day,Year,Active
0,10002,Quest Industries,1.475375e+08,1.917988e+08,0.30,500.0,1,10,2015,True
1,1305023,Smith Plumbing,1.085876e+09,1.194464e+09,0.10,700.0,6,15,2014,True
2,24019,ACME Industrial,5.901500e+07,7.376875e+07,0.25,125.0,3,29,2016,True
3,1022,Brekke LTD,3.500000e+08,5.783470e+08,0.04,75.0,10,27,2015,True
4,3450192,Harbor Co,1.770450e+07,1.504882e+07,-0.15,NaN,2,2,2014,False

In [35]:
df_2['견적 단위'].fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: 견적 단위, dtype: float64